mat-card{
    margin: 12px;
    width: 400px;
}

.number-of-pages{
    margin-left: 16px;
}

.is-read{
    margin: 0 12px;
    margin-right: 12px;
    align-self: flex-start;
}

.the-label{
    margin-right:12px;
}

.actions{
    display: flex;
    align-items: center;
    justify-items: space-around;
    margin-right:12px;
}