<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{book.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{book.author}}
        </mat-card-subtitle>
    </mat-card-header>  
    <mat-card-content>
        <span class='number-of-pages'>Pages: {{book.numberOfPages}}</span>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions align="end">
        <div class="actions">
            <mat-checkbox class="the-label" (change)="onIsReadChange(book.key$, !book.isRead)" [checked]="book.isRead">IS READ</mat-checkbox>
            <button mat-button color="primary" (click)="onRemove(book.key$)">REMOVE</button>
        </div>
    </mat-card-actions>

</mat-card>