.book-form{
    min-width: 150px;
    max-width: 500px;
    display:flex;
    flex-direction: column;
}

.book-form-field{
    width: 100%;
}
  
input.right-align::-webkit-outer-spin-button,
input.right-align::-webkit-inner-spin-button {
display: none;
}
  
input.right-align {
-moz-appearance: textfield;
}